defusedxml==0.4.1
Django==1.10.3
django-filter==0.15.3
djangorestframework==3.5.2
graphene==1.0.2
graphene-django==1.0
graphql-core==1.0
graphql-relay==0.4.4
iso8601==0.1.11
oauthlib==2.0.0
promise==1.0.0
PyJWT==1.4.2
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.11.1
requests-oauthlib==0.7.0
singledispatch==3.4.0.3
six==1.10.0
typing==3.5.2.2
whitenoise==3.2.2
